# Database Configuration
DATABASE_URL=postgresql+psycopg2://usdt_db_shm7_user:T5dM8Er1OajVYsaE2wS4blNMaKUurYZa@dpg-danfhqn40ujc73bpc6lg-a.oregon-postgres.render.com/usdt_db_shm7

# Flask Configuration
FLASK_ENV=production
FLASK_DEBUG=0
SECRET_KEY=3690887aa9aaad1bb6cd2d6a35b45ba9e2b362adec340660
SESSION_COOKIE_SECURE=true
REMEMBER_COOKIE_SECURE=true